In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
X_data = pd.read_csv('train.csv')
X_test = pd.read_csv('test.csv')
X_valid = X_data.sample(frac=0.2,random_state=200)
X_train = X_data.drop(X_valid.index)
Y_data = X_data["Survived"]
Y_valid = X_valid["Survived"]
Y_train = X_train["Survived"]
ID_test = X_test["PassengerId"]
# print(Y_valid)

In [2]:
from IPython.display import display
display(X_data.head())
# display(X_data.describe())
# display(X_test.head())
# display(X_test.describe())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# df = X_train
# df.drop(["Survived"],axis=1,inplace=True,errors='ignore')
# df.drop(["PassengerId","Name","Ticket","Cabin"],axis=1,inplace=True)
# # print(df["Embarked"].mode())

In [4]:
# df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)
# df["Fare"].fillna(df["Fare"].median(), inplace=True)
# df["Age"].fillna(df["Age"].mean(), inplace=True)

In [5]:
# df = df.join(pd.get_dummies(df["Embarked"]))
# df.drop(["Embarked"],axis=1,inplace=True)
# # display(df.head())
# df = df.join(pd.get_dummies(df["Pclass"]))
# df.drop(["Pclass"],axis=1,inplace=True)
# # display(df.head())
# df = df.join(pd.get_dummies(df["Sex"]))
# df.drop(["Sex"],axis=1,inplace=True)
# # display(df.head())

In [6]:
# df.loc[:,"Family"] = df.loc[:,"SibSp"] + df.loc[:,"Parch"]
# df.Family[df.Family > 0] = 1

# df.loc[:,"Child"] = df.loc[:,"Age"]
# df.Child[df.Child<16] = round(1)
# df.Child[df.Child >=16] = round(0)
    
# # display(df.describe())

In [7]:
def preprocess(df):
    df.drop(["Survived"],axis=1,inplace=True,errors='ignore')
    df.drop(["PassengerId","Name","Ticket","Cabin"],axis=1,inplace=True)
    df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)
    df["Fare"].fillna(df["Fare"].median(), inplace=True)
    df["Age"].fillna(df["Age"].mean(), inplace=True)
    df = df.join(pd.get_dummies(df["Embarked"]))
    df.drop(["Embarked"],axis=1,inplace=True)
    # display(df.head())
    df = df.join(pd.get_dummies(df["Pclass"]))
    df.drop(["Pclass"],axis=1,inplace=True)
    # display(df.head())
    df = df.join(pd.get_dummies(df["Sex"]))
    df.drop(["Sex"],axis=1,inplace=True)
    # display(df.head())
    df.loc[:,"Family"] = df.loc[:,"SibSp"] + df.loc[:,"Parch"]
    df.Family[df.Family > 0] = 1
    df.loc[:,"Child"] = df.loc[:,"Age"]
    df.Child[df.Child<16] = round(1)
    df.Child[df.Child >=16] = round(0)
    
#     csvfinal = df.to_csv(header=None,index=False)
    
    return df

In [8]:
# Question 3  (a)

In [9]:
X_train = preprocess(X_train)
X_valid = preprocess(X_valid)
X_data = preprocess(X_data)
X_test = preprocess(X_test)
display(X_train.head())

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Age,SibSp,Parch,Fare,C,Q,S,1,2,3,female,male,Family,Child
0,22.000000,1,0,7.2500,0,0,1,0,0,1,0,1,1,0.0
2,26.000000,0,0,7.9250,0,0,1,0,0,1,1,0,0,0.0
3,35.000000,1,0,53.1000,0,0,1,1,0,0,1,0,1,0.0
4,35.000000,0,0,8.0500,0,0,1,0,0,1,0,1,0,0.0
5,29.449243,0,0,8.4583,0,1,0,0,0,1,0,1,0,0.0

In [10]:
# Question 3  (b)

In [11]:
logisticmodel = LogisticRegression()
logisticmodel.fit(X_train, Y_train)
score = logisticmodel.score(X_valid, Y_valid)
print(score)

0.7921348314606742

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [ ]:
# Question 3  (c)

In [15]:
clogistic = LogisticRegression()
clogistic.fit(X_data, Y_data)
clogistic.coef_

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([[-0.02253956, -0.59968738, -0.31836257,  0.00310565,  0.18025093,
         0.29882426, -0.11221425,  1.00892024,  0.21604644, -0.85810575,
         1.48379759, -1.11693665,  0.69217133,  1.18794225]])

In [14]:
# Question 3  (d)

In [17]:
Y_test = clogistic.predict(X_test)
ans = pd.DataFrame({"PassengerId":ID_test,"Survived":Y_test})
ans.to_csv("submit.csv", index=False)